{
  "extends": [
    "walmart/configurations/es6-node",
    "walmart/rules/eslint/node/on"
  ],
  "parser":"babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "strict": [2, "global"],
    "quotes": ["error", "single"]
  }
}
